{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de asignaciones</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Fechadistribucion</th>
                <th>Prioridad</th>
                <th>Estado</th>

            </tr>
        </thead>
        <tbody>
        {% for trnAsignacion in trnAsignacions %}
            <tr>
                <td><a href="{{ path('asingaciones_show', { 'id': trnAsignacion.id }) }}">{{ trnAsignacion.id }}</a></td>
                <td>{{ trnAsignacion.descripcion }}</td>
                <td>{% if trnAsignacion.fechadistribucion %}{{ trnAsignacion.fechadistribucion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ trnAsignacion.prioridad }}</td>
                <td>
                  {{ trnAsignacion.getCatEstadosid().getEstado() }}
                </td>
                <td>
                  {% if trnAsignacion.getCatEstadosid().getEstado() != "VERIFICADO" %}
                      <a href="{{"#{trnAsignacion.id}/productos"}}">Editar</a>
                  {% else %}

                  {% endif %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
