{% extends 'base.html.twig' %}

{% block body %}
  <h1>Descripcion: {{ descripcion }}</h1>
  <h2>Nombre de técnico: "Kevin Rivera"</h2>
  <table>
      <thead>
          <tr>
              <th>Verificar</th>
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Cantidad</th>
              <th>Observacion</th>

          </tr>
      </thead>
      <tbody>
      {% for producto in productos%}
          <tr>
              {% if producto.verificar == false%}
              <td><input type="checkbox" id="verificacion"></td>
              {% elseif producto.verificar == true%}
              <td><input type="checkbox" id="verificacion" checked></td>
              {% endif%}
              <td>{{producto.id}}</td>
              <td>{{producto.nombre_largo_insumo}}</td>
              <td>{{producto.cantidad_sugerida}}</td>
              <td>
              <a href="{{ "/validaciones/#{producto.iddetalle}" }}">
                <button type="button" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-comment"></span>
                </button>
              </a>
              </td>
          </tr>
      {% endfor%}
      </tbody>
  </table>
{% endblock %}
