{% extends 'base.html.twig' %}

{% block body %}

  <h1>Listado de Asignaciones</h1>
  <center></center>
  <table>
  <form action = {{ path ('establecimientos_productos', {'id' : establecimiento.id})}}
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Codigo</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Estado</th>
        <th>Cantidad a Despachar</th>
      </tr>
    </thead>
    <tbody>
      {% for asignacion in asignaciones %}
      <tr>
        <td>{{asignacion.fecha_creacion}}</td>
        <td>{{asignacion.id}}</td>
        <td>{{asignacion.descripcion}}</td>
        <td>{{asignacion.cantidad_distribuir}}</td>
        <td>estado</td>
        </tr>
      {%endfor%}
      <tr>
        <td></td>
        <td></td>
        <td>Total Asignado</td>
        <td>{{ total }}</td>
        <td>Total a Despachar</td>
        <td><input type="number" name="total" min=0 max={{ total }}></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><input type="submit" value="Finalizar"></td>
      </tr>
    </tbody>
    </form>
  </table>

{% endblock%}
