{% extends 'base.html.twig' %}

{% block body %}
    <h1>Catestablecimientos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idtipoestablecimiento</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Fax</th>
                <th>Latitud</th>
                <th>Longitud</th>
                <th>Idinstitucion</th>
                <th>Idmunicipio</th>
                <th>Anioapertura</th>
                <th>Idcatnivelminsal</th>
                <th>Idestablecimientopadre</th>
                <th>Registroschema</th>
                <th>Enableschema</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for catEstablecimiento in catEstablecimientos %}
            <tr>
                <td><a href="{{ path('catestablecimiento_show', { 'id': catEstablecimiento.id }) }}">{{ catEstablecimiento.id }}</a></td>
                <td>{{ catEstablecimiento.idTipoEstablecimiento }}</td>
                <td>{{ catEstablecimiento.nombre }}</td>
                <td>{{ catEstablecimiento.direccion }}</td>
                <td>{{ catEstablecimiento.telefono }}</td>
                <td>{{ catEstablecimiento.fax }}</td>
                <td>{{ catEstablecimiento.latitud }}</td>
                <td>{{ catEstablecimiento.longitud }}</td>
                <td>{{ catEstablecimiento.idInstitucion }}</td>
                <td>{{ catEstablecimiento.idMunicipio }}</td>
                <td>{{ catEstablecimiento.anioApertura }}</td>
                <td>{{ catEstablecimiento.idCatNivelMinsal }}</td>
                <td>{{ catEstablecimiento.idEstablecimientoPadre }}</td>
                <td>{% if catEstablecimiento.registroSchema %}{{ catEstablecimiento.registroSchema|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ catEstablecimiento.enableSchema }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('catestablecimiento_show', { 'id': catEstablecimiento.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
