{% extends 'base.html.twig' %}

{% block body %}
    <h1>Establecimientos con Asignaciones</h1>

    <table>
        <thead>
            <tr>
                <th>Establecimiento</th>
                <th>Nombre del Establecimiento</th>
                <th>Prioridad</th>
                <th>Productos</th>
            </tr>
        </thead>
        <tbody>
        {% for catEstablecimiento in catEstablecimientos %}
            <tr>
                <td><a href="{{ path('establecimientos_show', { 'id': catEstablecimiento.establecimiento }) }}">{{ catEstablecimiento.establecimiento }}</a></td>
                <td>{{ catEstablecimiento.nombre }}</td>
                <td>{{ catEstablecimiento.prioridad }}</td>
                <td><a href="{{ path('establecimientos_productos', { 'id' : catEstablecimiento.establecimiento }) }}">Ver Productos Asociados</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<ul>
        <li>
            <a href="{{ path('establecimientos_new') }}">Create a new catEstablecimiento</a>
        </li>
    </ul>-->
{% endblock %}
