{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creando Validacion para Producto </h1>

    <p>Existencia: {{ detalle.existencia_almacenes }}</p>
    <p >Cantidad Asignada:</p>
    <input id="cantidad" type="numeric" disabled value="{{ detalle.cantidad_sugerida }}">


    <p>Consumo Promedio: {{ detalle.cpm }}</p>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar Observacion" />
    {{ form_end(form) }}



{% endblock %}
{% block footer_js %}

  <script >
  $(document).ready(function(){
    // console.log($('#cantidad').val());
    // console.log($('minsal_corebundle_trnvalidacion_cantidadPrelimimar').val());
    $("form").submit(function(e){

        let cantidad = $('#cantidad').val();
        let preliminar = $('#minsal_corebundle_trnvalidacion_cantidadPrelimimar').val();
        if(preliminar>cantidad){
          //console.log("NO ENVIAR");
          alert( "La cantidad preliminar debe ser menor o igual a la cantidad asignada." );
          e.preventDefault();
        }

    });
  });

  </script>
{% endblock %}
