{% extends 'base.html.twig' %}

{% block body %}
    <h1>Valeprovisionals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechacreacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for valeProvisional in valeProvisionals %}
            <tr>
                <td><a href="{{ path('valeprovisional_show', { 'id': valeProvisional.id }) }}">{{ valeProvisional.id }}</a></td>
                <td>{% if valeProvisional.fechaCreacion %}{{ valeProvisional.fechaCreacion|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('valeprovisional_show', { 'id': valeProvisional.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('valeprovisional_edit', { 'id': valeProvisional.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('valeprovisional_new') }}">Create a new valeProvisional</a>
        </li>
    </ul>
{% endblock %}
